<br/>

<%= form_for(:session, :url => sessions_path, :html => {:class => "form-container"}) do |f| %>
    <div class="form-title"><h2 class="form-h2">Вхід на сайт</h2></div>
        <div class="form-title">E-mail (поштова скринька)</div>
        <%= f.text_field :email, :class => "form-field" %><br />
        <div class="form-title">Пароль</div>
        <%= f.password_field :password, :class => "form-field" %><br />
        <div class="submit-container">
        <%= link_to "Реєстрація на порталі", sign_up_path %>&nbsp;
        <%= f.submit "Увійти", :class => "submit-button" %>
    </div>
<% end %>

