<% if @tag %><h2 class="block-header star"><%= @tag.title %></h2><% end %>


<%= will_paginate @articles, :previous_label => 'Попередня', :next_label => 'Наступна'  %>
<% @articles.each do |article|%>
    <%= render :partial => 'articles/article', :locals => {:article => article} %>
<% end %>
<%= will_paginate @articles, :previous_label => 'Попередня', :next_label => 'Наступна'  %>



<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:tags => @tags}%>
<% end %>

