<% if current_user && (current_user.role.name == "admin") %>
    <div class="gadget">
      <%= link_to "Додати місце", maps_new_showplace_path, :class => "button submit_button big_button" %>
    </div>
<% end %>

<div class="gadget">
  <ul class="sidebar-block sidebar-menu">
    <li class="dropdown">
      Населені пункти:
      <div class="arrow-right-icon transformed_arrow"></div>
    </li>
    <% populated_places.each do |place| %>
        <li <%= (place.id == params[:sity].to_i)?"class='selected_item'":""%>>
          <%= link_to place.title, maps_populated_place_path(:id => place.id) %>
          <div class="arrow-right-icon"></div>
        </li>
    <% end %>
  </ul>
</div>

<div class="gadget">
  <ul class="sidebar-block sidebar-menu">
    <li class="dropdown">
      Категорії POI:
      <div class="arrow-right-icon transformed_arrow"></div>
    </li>
    <% poi_categories.each do |category| %>
        <li <%= (category.id == params[:category].to_i)?"class='selected_item'":""%>>
          <%= link_to category.name, url_for(:id => params[:id], :category => category.id) %>
          <div class="arrow-right-icon"></div>
        </li>
    <% end %>
  </ul>
</div>

<%= render :partial => 'layouts/last_news' %>

<%= render :partial => 'layouts/last_articles' %>

<%= render :partial => 'layouts/anecdote' %>