<%= gmaps(@options) %>

<%= javascript_include_tag 'gmaps4rails/gmaps4rails.base' %>
<%= javascript_include_tag 'gmaps4rails/gmaps4rails.googlemaps' %>
<%= yield :scripts %>

POI<br/>
<% @poi.each do |poi| %>
  <%=  poi.name %><br/>
<% end %>

<div class="clr"></div>


<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:places => @places}%>
<% end %>

