<h2 class="block-header star"><%= link_to @user.name, user_path(@user)%>/Налаштування</h2>
<br/>
<div>

  <table class="user-info edit-user-info" style="">
    <col>
    <col>
    <col>
    <tr class="highlighted">
      <td>
        E-mail:
      </td>
      <td>
        <%= @user.email %>
      </td>
      <td>
        <%= image_tag 'private-26.png', :class => :icon, :style => "display: block"%>
      </td>
    </tr>
    <tr>
      <td>
        Роль:
      </td>
      <td>
        <%= @user.role.name %>
      </td>
      <td>
        <%= image_tag 'private-26.png', :class => :icon, :style => "display: block"%>
      </td>
    </tr>
    <tr class="highlighted">
      <td>
        Ім'я:
      </td>
      <td>
        <input type="text" value="<%= @user.name %>" id="name" onkeyup="field_become_change(this);"/>
      </td>
      <td>
        <%= image_tag 'checkmark.png', :class => :icon, :onclick => "edit_field('name');"%>
      </td>
    </tr>
    <tr>
      <td>
        Пароль:
      </td>
      <td>
        <input type="text" value="" id="pass" onkeyup="field_become_change(this);"/>
      </td>
      <td>
        <%= image_tag 'checkmark.png', :class => :icon, :onclick => "edit_field('pass');"%>
      </td>
    </tr>
    <tr>
      <td>
        Підтвердження:
      </td>
      <td>
        <input type="text" value="" id="pass_confirm" onkeyup="field_become_change(this);"/>
      </td>
      <td>
      </td>
    </tr>
    <tr class="highlighted">
      <td>
        Про мене:
      </td>
      <td>
        <textarea rows="10" cols="5" id="about_me"  onkeyup="field_become_change(this);"><%= @user.about_me %></textarea>
      </td>
      <td>
        <%= image_tag 'checkmark.png', :class => :icon, :onclick => "edit_field('about_me');"%>
      </td>
    </tr>
    <tr>
      <td>
        Аватар:
      </td>
      <td>
        <input type="file">
        <div class="avatar">
          <%= image_tag @user.avatar.url(:original) %>
        </div>
      </td>
      <td>
        <%= image_tag 'checkmark.png', :class => :icon -%>
      </td>
    </tr>
  </table>
  <div class="clr"></div>
</div>

