<h2 class="block-header star">
  <% if current_user && current_user.id == @user.id %>
    Ваша сторінка
  <% else %>
    Сторінка користувача <%= @user.name %>
  <% end %>
</h2>

<div>
    <div class="avatar">
        <%= image_tag @user.avatar.url(:original) %>
    </div>

    <table class="user-info">
      <tr>
        <td>
          Ім'я:
        </td>
        <td>
          <%= @user.name %>
        </td>
      </tr>
      <% if current_user && current_user.id == @user.id %>
      <tr>
        <td>
          E-mail:
        </td>
        <td>
          <%= @user.email %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>
          Дата реєстрації:
        </td>
        <td>
          <%= @user.created_at %>
        </td>
      </tr>
      <tr>
        <td>
          Роль:
        </td>
        <td>
          <%= @user.role.name %>
        </td>
      </tr>
      <tr>
        <td>
          Про мене:
        </td>
        <td>
          <%= @user.about_me %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <% if current_user && current_user.id == @user.id %>
              <%= button_to "Редагувати", edit_user_path(@user), :method => :get, :class => "button submit_button"%>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="clr"></div>
</div>

<h2 class="block-header star">Активність</h2>
<table class="user-activity">
  <tr>
    <td>
      Кількість коментарів:
    </td>
    <td>
      <%= @user.comments.count %>
    </td>
  </tr>
  <tr>
    <td>
      Останні коментарі:
    </td>
    <td>
      <% @last_comments.each do |comment|%>
        <% if comment.news %>
          <%= comment.news.created_at.day%>/
          <%= comment.news.created_at.month %>/
          <%= comment.news.created_at.year %>&nbsp;
          <%= comment.news.created_at.hour%>:
          <%= comment.news.created_at.min %>&nbsp;
          <%= link_to comment.news.title, news_path(comment.news)%>
          <%= comment.text %>
          <br/>
        <% elsif comment.article %>
          <%= comment.article.created_at.day%>/
          <%= comment.article.created_at.month %>/
          <%= comment.article.created_at.year %>&nbsp;
          <%= comment.article.created_at.hour%>:
          <%= comment.article.created_at.min %>&nbsp;
          <%= link_to comment.article.title, article_path(comment.article)%>
          <%= comment.text %>
          <br/>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>


<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:tags => @tags}%>
<% end %>

