<div class="container_holder">
  <div class="float_l">
    <div class="container_picture"><img src='<%= comment.user.avatar.url :thumb %>' height='55' width='55' /></div>
  </div>
  <div class="comment-info float_r">
    <div><%= comment.user.name %> <%= comment.user.name %>
      <% if current_user!=nil && current_user.role.name == 'admin' %>
          <div class="comment_remover">
            <div id="comment_remove" comment_id="<%= comment.id%>">x</div>
          </div>
      <% end %>
    </div>
    <div class="comment-meta"><%= comment.created_at %></div>
    <div class="comment-content" comment_id="<%= comment.id%>">
      <p><%= comment.text  %></p>
    </div>
  </div>
  <div class="cleaner"></div>
</div>