<div class="comment_holder">
  <div class="container_picture"><img src='<%= comment.user.avatar.url :original %>' height='70' width='70' /></div>
  <div class="comment-info"><%= comment.user.name %>&nbsp;<%= comment.created_at %></div>
  <div class="comment-content" comment_id="<%= comment.id%>"><%= comment.text  %></div>
  <% if current_user!=nil && current_user.role.name == 'admin' %>
      <div class="comment_remover">
        <div id="comment_remove" comment_id="<%= comment.id%>">x</div>
      </div>
  <% end %>
</div>