<div class="list_item_holder">
  <div class="item_title">
    <div class="add">
      <%= news.created_at.day %>&nbsp;<%= month news.created_at.month %>&nbsp;<%= news.created_at.year %>&nbsp;<%= news.created_at.hour %>:<%= news.created_at.min %>
    </div><div class="icons">
    <% if current_user && (current_user.role.name == "admin") %>
        <%= link_to raw("<div class='change_icon'></div>Змінити"), edit_news_path(news)%>
        <%= link_to raw("<div class='delete_icon'></div>Видалити"), news_path(news), :method => :delete, :confirm => "Are you sure you wont to delete art ?" %>
    <% end %>
    <%= link_to raw("<div class='review_icon'></div>"+news.view_count.to_s), news_path(news)%>
    <%= link_to raw("<div class='comments_icon'></div>"+news.comments.count.to_s), news_path(news)%>
  </div><br>
    <div class="item_meta">
      <%= link_to news.title, news_path(news), :class => "item_title_text" %>
      <br/><br/>
      <div class="fleft"><div class="divider_text">
            <span>
                <% news.tags.each do |tag| %>
                    <%= link_to tag.title, news_index_path(:tag => tag.id)%>
                  >
                <% end %>
            </span>
      </div>

      </div>

    </div>
    <div class="clr"></div>
  </div>
  <div class="divider">

  </div>
  <% if news.attached_assets.count > 0 %>
      <div class="preview_image"><div>
        <%= image_tag news.attached_assets[0].asset.url(:original)%>
      </div></div>
  <% end %>

  <%= raw preview_from_body(news.body) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Читати детально >>", news_path(news),:class=>"readmore" %><br/>
</div>





