<div class="article">
  <p class="date"><%= news.created_at.year %><span><%= news.created_at.day%>/<%= news.created_at.month %></span></p>
  <h2><span><%= link_to news.title.to_s, news_path(news) %></span></h2>
  <div class="clr"></div>
  <p><% if current_user && current_user.role.name == "admin" %><%= "Розмістив:"+news.user.name %>&nbsp;|&nbsp; <% end  %> Теги:
    <% news.tags.each do |tag| %>
    <a href="#"><%= tag.title %></a>,
    <% end %>
  </p>
  <% if news.attached_assets.count > 0 %>
  <div class="img">
    <div><%= image_tag  news.attached_assets[0].asset.url(:original) %></div>
  </div>
  <% end %>
  <p><%= news.preview || news.body.to_s[0..500] + "..." %></p>
  <p class="spec"><%= link_to "Читати більше...", news_path(news), :class => "rm"%>&nbsp;|&nbsp;<%= link_to "Коментарі("+news.comments.count.to_s+")", news_path(news), :class => "com" %> </p>
  <div class="buttons">
  <% if current_user && current_user.role.name == "admin" %>
      <%= button_to "Видалити", news_path(news), :method => :delete, :class => "remove_button", :confirm => "Are you sure you wont to delete news ?" %>
      <%= button_to "Змінити", edit_news_path(news), :method => :get, :class => "edit_button" %>
  <% end %>
  </div>

</div>


