<% if current_user && current_user.role.name == "admin" %>
    <div class="gadget">
      <%= link_to "Додати новину", new_news_path, :class => "button submit_button big_button" %>
    </div>
<% end %>

<div class="gadget">
  <ul class="sidebar-block">
    <li>
      Мітки
    </li>
    <li>
      <div class="tags">
        <% tags.each do |tag|%>
            <%= link_to tag['title'], news_index_path(:tag => tag['id']), :style=>"font-size: #{tag['size']}px; opacity: #{tag['opacity']};"%>
        <% end %>
      </div>
    </li>
  </ul>
</div>


<div class="gadget">
  <ul class="sidebar-block">
    <li>
      Погода
    </li>
    <li>
      <div class="sidebar-block-content">
        <%= render :partial => 'layouts/weather' %>
      </div>
    </li>
  </ul>
</div>


<div class="gadget">
  <ul class="sidebar-block">
    <li>
      Курс валют
    </li>
    <li>
      <div class="sidebar-block-content">
        <%= render :partial => 'layouts/exchange_rate' %>
      </div>
    </li>
  </ul>
</div>

<%= render :partial => 'layouts/last_news' %>

<%= render :partial => 'layouts/last_articles' %>

<%= render :partial => 'layouts/anecdote' %>

<%= render :partial => 'layouts/vk_widget' %