<% if @tag%><h2 class="block-header star"><%= @tag.title %></h2><%end%>


<%= will_paginate @news %>
<% @news.each do |news|%>
    <%= render :partial => 'news/news', :locals => {:news => news} %>
<% end %>
<%= will_paginate @news %>



<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:tags => @tags}%>
<% end %>

