<div class="news_container">
  <div>
    <span class="news_title"><%= @news.title.to_s %></span>
  </div>

  <div id="galleria">
    <% @news.attached_assets.each do |asset| %>
        <%= image_tag asset.asset.url(:original) %>
    <% end %>
  </div>

  <div class="news_body">
    <%= @news.body.to_s %>
  </div>

</div>


<div id="comments">
  <div class="news_title">Discussion: <%= @news.comments.count.to_s %> comments:</div>
  <% @news.comments.each do |comment| %>
      <%= render :partial => 'comment', :locals => { :comment => comment } %>
  <% end %>
</div>

<div>
  <div class="news_title">Add comment:</div>
  <textarea id="new_comment" cols="78" rows="10">

  </textarea>
  <br/>
  <input type="button" id="add_comment" value="Add comment"/>
</div>

<script type="text/javascript">
    j(document).ready(function(){
        add_comment_handler('<%= news_new_comment_url(@news) %>');
    });
</script>