<div class="article">
  <p class="date"><%= @news.created_at.year %><span><%= @news.created_at.day%>/<%= @news.created_at.month %></span></p>
  <h2><span><%= @news.title %></span></h2>
  <div class="clr"></div>
  <p>Розмістив: <%= @news.user.name %> &nbsp;|&nbsp; Теги: <a href="#">закарпаття</a>, <a href="#">політика</a></p>
  <div id="galleria">
    <% @news.attached_assets.each do |asset| %>
        <%= image_tag asset.asset.url(:original) %>
    <% end %>
  </div>
  <p><%= @news.body %></p>
  <p>
    <% if current_user && current_user.role.name == "admin" %>
        &nbsp;<%= link_to "Видалити", news_path(@news), :method => :delete, :class => "rm"%>
    <% end %>

  </p>
</div>




<div id="comments">
  <div class="news_title">Discussion: <%= @news.comments.count.to_s %> comments:</div>
  <% @news.comments.each do |comment| %>
      <%= render :partial => 'comment', :locals => { :comment => comment } %>
  <% end %>
</div>

<% if current_user %>
<div>
  <div class="news_title">Add comment:</div>
  <textarea id="new_comment" cols="78" rows="10">

  </textarea>
  <br/>
  <input type="button" id="add_comment" value="Add comment"/>
</div>

<script type="text/javascript">
    j(document).ready(function(){
        add_comment_handler('<%= news_new_comment_url(@news) %>');
    });
</script>
<% end %>