<div class="list_item_holder">
  <div class="item_title">
    <div class="item_meta">
      Автор:<%= link_to @news.user.name, user_path(@news.user) %>&nbsp;
      <%= @news.created_at.day %>&nbsp;<%= month @news.created_at.month %>&nbsp;<%= @news.created_at.year %>&nbsp;<%= @news.created_at.hour %>:<%= @news.created_at.min %>
      <br/>
      <span class="item_title_text"><%= @news.title %></span>
      <br/>
      <div class="comments_icon"></div><%= @news.comments.count.to_s+" коментарів"%>
      <div class="review_icon"></div><%= @news.view_count.to_s+" переглядів"%>
      <% if current_user && (current_user.role.name == "admin") %>
          <div class="change_icon"></div><%= link_to "Змінити", edit_news_path(@news)%>
          <div class="delete_icon"></div><%= link_to "Видалити", news_path(@news), :method => :delete, :confirm => "Are you sure you wont to delete art ?" %>
      <% end %>
    </div>
    <div class="clr"></div>
  </div>
  <div class="divider">
    <div class="divider_text">
            <span>
                <% @news.tags.each do |tag| %>
                    <%= link_to tag.title, news_index_path(:tag => tag.id)%>
                  >
                <% end %>
            </span>
    </div>
  </div>
  <%= raw @news.body %><br/>
  <div>Джерело:&nbsp; <%= raw @news.source %></div>
</div>


<div id="comments">
  <div class="news_title">Discussion: <%= @news.comments.count.to_s %> comments:</div>
  <% @news.comments.each do |comment| %>
      <%= render :partial => 'comment', :locals => { :comment => comment } %>
  <% end %>
</div>

<% if current_user %>
<div>
  <div class="news_title">Add comment:</div>
  <textarea id="new_comment" cols="78" rows="10">

  </textarea>
  <br/>
  <input type="button" id="add_comment" value="Add comment"/>
</div>

<script type="text/javascript">
    j(document).ready(function(){
        add_comment_handler('<%= news_new_comment_url(@news) %>');
    });
</script>
<% end %>


<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:tags => @tags}%>
<% end %>