<div id="galleria">
</div>
<div class="news_list">
  <br/>Останні новини:<br/>
  <% @last_news.each do |news|%>
    <span class="gray_span">
      <%= news.created_at.day%>/<%= news.created_at.month %>/<%= news.created_at.year %>&nbsp;
    </span>
    <%= link_to news.title.to_s, news_path(news) %>
      <div class="review_icon"></div>&nbsp;<%= news.view_count %>&nbsp;
      <div class="comments_icon"></div>&nbsp;<%= news.comments.count %>
      <br/>
  <% end %>
  <%= link_to 'Більше новин', news_index_path, :class => "button link_button big_button" %>
</div>

<div class="news_list">
<br/>Останні статті:<br/>
<% @last_articles.each do |article|%>
    <span class="gray_span">
      <%= article.created_at.day%>/<%= article.created_at.month %>/<%= article.created_at.year %>&nbsp;
    </span>
    <%= link_to article.title.to_s, articles_path(article) %>
      <div class="review_icon"></div>&nbsp;<%= article.view_count %>&nbsp;
      <div class="comments_icon"></div>&nbsp;<%= article.comments.count %>
    <br/>
<% end %>
<%= link_to 'Більше статей', articles_path, :class => "button link_button big_button" %>
</div>


<script type="text/javascript">
    j(document).ready(function(){
        if(j("#galleria")){
            Galleria.loadTheme('/assets/galleria/themes/classic/galleria.classic.min.js');
            var data = [
                <% @galleria_news.each do |news|%>
                    <% if news.attached_assets.count > 0 %>
                        {
                            image: '<%= news.attached_assets[0].asset.url(:original) if news.attached_assets.count > 0 %>',
                            title: '<%= news.title.gsub("'", "\"").gsub("\r", " ").gsub("\n", " ") %>',
                            description: '',
                            link: '<%= news_path(news)%>'
                        }
                        <% if news != @galleria_news.last %>
                        ,
                        <% end %>
                    <% end %>
                <% end %>
            ];
            Galleria.configure({
                autoplay: true,
                dataSource: data
            });

            Galleria.run('#galleria');
        }
    });
</script>


<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:tags => @tags}%>
<% end %>