<div class="gadget">
  <ul class="sidebar-block">
    <li>
      ОСТАННІ НОВИНИ:
    </li>
    <li>
      <div class="news_list">
        <ul class="preview_block">
          <% if @last_news[0..8]%>
              <% @last_news[0..8].each do |news|%>
                  <li>
                    <div class="label">
                      <div>
                <span class="gray_span">
                <%= news.created_at.day%>.<%= news.created_at.month %>.<%= news.created_at.year %>&nbsp;</span>

                        <span class="gray_span2"><%= news.view_count.to_s %> переглядів  </span>
                        <% if news.attached_assets.count > 0 %>
                            <%= image_tag news.attached_assets[0].asset.url(:original)%>
                        <% end %><div class="clr"></div>
                      </div><br/>

                      <span class="title_span"><%= link_to news.title.to_s, news_path(news) %></span><br/>
                      <span class="preview_text"><%= raw preview_from_body(news.body) %></span><br/>
                      <%= link_to "Читати детально", news_path(news),:class=>"readmore2" %><div class="clr"></div>
                    </div>
              <% end %>
          <% end %>

        </ul>
        <div class="just_block">
          <% if @last_news[9..@last_news.length]%>
              <% @last_news[9..@last_news.length].each do |news|%>
        <span class="gray_span">
          <%= news.created_at.day%>.<%= news.created_at.month %>.<%= news.created_at.year %>&nbsp;
        </span>
                  <span class="title_span"><%= link_to news.title.to_s, news_path(news) %></span>
                  <span class="gray_span2"><%= news.comments.count.to_s %> коментарів&nbsp;&nbsp; <%= news.view_count.to_s %> переглядів  </span><div class="clr"></div>

              <% end %>
          <% end %>
        </div>

      </div>

    </li>
  </ul>
</div>





<div class="gadget">
  <ul class="sidebar-block">
    <li>
      ОСТАННІ СТАТТІ:
    </li>
    <li>
  <ul class="preview_block">
    <% if @last_articles[0..5]%>
        <% @last_articles[0..5].each do |news|%>
            <li>
              <div class="label">
                <div>
                <span class="gray_span">
                <%= news.created_at.day%>.<%= news.created_at.month %>.<%= news.created_at.year %>&nbsp;</span>

                  <span class="gray_span2"><%= news.view_count.to_s %> переглядів  </span>
                  <div class="clr"></div>
                </div><br/>

                <span class="title_span"><%= link_to news.title.to_s, news_path(news) %></span><br/>
                <span class="preview_text"><%= raw preview_from_body(news.body) %></span><br/>
                <%= link_to "Читати детально", news_path(news),:class=>"readmore2" %><div class="clr"></div>
              </div>
        <% end %>
    <% end %>

  </ul>
  <div class="just_block">
  <% if @last_articles[6..@last_articles.length]%>
      <% @last_articles[6..@last_articles.length].each do |article|%>
        <span class="gray_span">
          <%= article.created_at.day%>.<%= article.created_at.month %>.<%= article.created_at.year %>&nbsp;
        </span>
          <span class="title_span"><%= link_to article.title.to_s, articles_path(article) %></span>
          <span class="gray_span2"><%= article.comments.count.to_s %> коментарів&nbsp;&nbsp; <%= article.view_count.to_s %> переглядів  </span><div class="clr"></div>
            <% end %>
 <% end %>
  </div>

</div>



<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:tags => @tags}%>
    <%= render :partial => 'layouts/anecdote' %>
<% end %>