<% if art_categories.blank? %>
    You must create some art category before
<% else %>
<%= form_for work, :url => work.id ? art_path(work) : arts_path, :html => {:multipart => true, :id => 'work_form' } do |f| %>
    <% if work.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(work.errors.count, "error") %>
            prohibited this news from being saved:</h2>
          <p>There were problems with the following fields:</p>
          <ul>
            <% work.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      Art Category
      <%= select_tag :art_category, options_for_select(art_categories.collect{ |cat| [cat.title, cat.id] }, art_categories.first.id),
                     :onchange => "select_art_category(this);"%>
    </div>
    <div class="field">
      Art SubCategory
      <%= f.select :art_subcategory_id, [].map {}  %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit "Save", :class => "button submit_button" %>
    </div>
<% end %>

<% end %>