<h2><%= @category.title if @category%><%= " > " + @art_subcategory.title if @art_subcategory%></h2>

<div class="authors">
  <table class="atohrs_table">
      <% @authors.each do |author| %>
        <tr>
          <td>
            <%= image_tag author.avatar.url(:original) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to author.name, user_path(author) %>
          </td>
        </tr>
      <% end %>
  </table>
</div>

<div class="art_content">
  <% @works.each do |work| %>
      Title:<%= link_to work.title, art_path(work) %><br/>
      Author:<%= work.author.name %><br/>
      Created_at:<%= work.created_at %><br/>
      Category:<%= work.art_subcategory.art_category.title %><br/>
      Subcategory:<%= work.art_subcategory.title %><br/>
      <% if current_user && (current_user.role.name == "admin" || current_user == work.author) %>
        <%= button_to "Change", edit_art_path(work), :method => :get, :class => "edit_button" -%>
        <%= button_to "Delete", art_path(work), :method => :delete, :class => "remove_button", :confirm => "Are you sure you wont to delete art ?" %>
      <% end %>
      <br/>
      Body: <%= work.body %>
      <hr/>
  <% end %>
</div>

<div class="clr"></div>

<%= content_for :art_categories do %>
    <% if current_user && (current_user.role.name == "admin" || current_user.role.name == "author") %>
        <div class="gadget">
           <%= link_to raw("<div class='read_more'>Додати твір</div>"), new_art_path %>
        </div>
    <% end %>
    <div class="gadget">
      <h2 class="block-header star"><span>Напрямки мистецтва:</span></h2>
      <div class="clr"></div>

      <ul>
        <li <%= (!params[:art_category])?"class='selected_item'":""%>>
          <%= link_to "Всі", arts_path %>
        </li>
        <% @art_categories.each do |cat| %>
            <li <%= (cat.id == params[:art_category].to_i)?"class='selected_item'":""%>>
              <%= link_to cat.title, arts_path(:art_category => cat.id) %>
            </li>
        <% end %>
      </ul>
    </div>
    <% if @category%>
        <div class="gadget">
          <h2 class="block-header star"><span>Мітки:</span></h2>
          <div class="clr"></div>
          <ul>
            <li <%= (!params[:art_subcategory])?"class='selected_item'":""%>>
              <%= link_to "Всі", arts_path(:art_category => @category.id) %>
            </li>
            <% @category.art_subcategories.each do |subcat| %>
                <li <%= (subcat.id == params[:art_subcategory].to_i)?"class='selected_item'":""%>>
                  <%= link_to subcat.title, arts_path(:art_category => @category.id, :art_subcategory => subcat.id) %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>