<h2><%= @category.title if @category%>
<%= " > " + @art_subcategory.title if @art_subcategory%>
<%= " > " + @author.name if @author%></h2>

<%= render :partial => 'authors_list', :locals => {:authors => @authors}%>

<div class="art_content">

  <%= will_paginate @works, :previous_label => 'Попередня', :next_label => 'Наступна'  %>

  <% @works.each do |work| %>
      Title:<%= link_to work.title, art_path(work) %><br/>
      Author:<%= work.author.name %><br/>
      Created_at:<%= work.created_at %><br/>
      Category:<%= work.art_subcategory.art_category.title %><br/>
      Subcategory:<%= work.art_subcategory.title %><br/>
      <% if current_user && (current_user.role.name == "admin" || current_user == work.author) %>
          <%= link_to "Change", edit_art_path(work), :class => "button submit_button" -%>
          <%= link_to "Change", edit_art_path(work), :class => "button edit_button" -%>
          <%= link_to "Change", edit_art_path(work), :class => "button link_button" -%>
        <%= button_to "Delete", art_path(work), :method => :delete, :class => "button remove_button", :confirm => "Are you sure you wont to delete art ?" %>
      <% end %>
      <br/>
      Body: <%= work.body %>
      <hr/>
  <% end %>

  <%= will_paginate @works, :previous_label => 'Попередня', :next_label => 'Наступна'  %>

</div>

<div class="clr"></div>

<%= content_for :art_categories do %>
  <%= render :partial => 'sidebar', :locals => {:art_categories => @art_categories, :category => @category}%>
<% end %>