<%= render :partial => 'authors_list', :locals => {:authors => @authors}%>

<div class="art_content">
  Title:<%= @work.title %><br/>

  <% unless @work.moderate %>
      <span style="color:red;">Not moderated</span>
  <% end %>
  Author:<%= @work.author.name %><br/>
  Created_at:<%= @work.created_at %><br/>
  Category:<%= @work.art_subcategory.art_category.title %><br/>
  Subcategory:<%= @work.art_subcategory.title %><br/>
  <% if current_user.role.name == "admin" || current_user == @work.author %>
      <%= button_to "Change", edit_art_path(@work), :method => :get, :class => "button edit_button" -%>
      <%= button_to "Delete", art_path(@work), :method => :delete, :class => "button remove_button", :confirm => "Are you sure you wont to delete art ?" %>
      <%= link_to "Затвердити", "#", :class => "button remove_button", :onclick => "approve_work(#{@work.id}); return nil;"  if current_user.role.name == "admin" && !@work.moderate%>
  <% end %>
  <br/>
  Body:<%= @work.body %>
</div>

<div class="clr"></div>


<div id="comments">
  <div class="news_title">Discussion: <%= @work.comments.count.to_s %> comments:</div>
  <% @work.comments.each do |comment| %>
      <%= render :partial => 'layouts/comment', :locals => { :comment => comment } %>
  <% end %>
</div>

<% if current_user %>
    <div>
      <div class="news_title">Add comment:</div>
      <textarea id="new_comment" cols="78" rows="10">

      </textarea>
      <br/>
      <input type="button" id="add_comment" value="Add comment"/>
    </div>

    <script type="text/javascript">
        j(document).ready(function(){
            add_comment_handler('<%= art_new_comment_url(@work) %>');
        });
    </script>
<% end %>

<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:art_categories => @art_categories, :category => @category}%>
<% end %>