<%= render :partial => 'authors_list', :locals => {:authors => @authors}%>

<div class="art_content">
  Title:<%= @work.title %><br/>
  Author:<%= @work.author.name %><br/>
  Created_at:<%= @work.created_at %><br/>
  Category:<%= @work.art_subcategory.art_category.title %><br/>
  Subcategory:<%= @work.art_subcategory.title %><br/>
  <% if current_user.role.name == "admin" || current_user == @work.author %>
      <%= button_to "Change", edit_art_path(@work), :method => :get, :class => "button edit_button" -%>
      <%= button_to "Delete", art_path(@work), :method => :delete, :class => "button remove_button", :confirm => "Are you sure you wont to delete art ?" %>
  <% end %>
  <br/>
  Body:<%= @work.body %>
</div>

<div class="clr"></div>



<%= content_for :sidebar do %>
    <%= render :partial => 'sidebar', :locals => {:art_categories => @art_categories, :category => @category}%>
<% end %>