<%= form_for [:admin, art_category], :url => art_category.id ? admin_art_path : admin_arts_path do |f| %>
    <% if art_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(art_category.errors.count, "error") %>
            prohibited this news from being saved:</h2>
          <p>There were problems with the following fields:</p>
          <ul>
            <% art_category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="actions">
      <%= f.submit "Save", :class => "button submit_button" %>
    </div>
<% end %>