<div class="comment_holder">
  <img src='<%= comment.user.avatar.url(:original) if comment.user %>' />
  <div class="comment_date">
    <%= comment.created_at.day %>&nbsp;<%= month comment.created_at.month %>&nbsp;
    <%= comment.created_at.year %>&nbsp;<%= comment.created_at.hour %>:<%= comment.created_at.min %>
  </div>

  <div class="comment_user">
    <%= comment.user.name if comment.user %>&nbsp;
    (<%= comment.user.comments.count %>&nbsp;коментарів)
  </div>
  <div class="comment_content" comment_id="<%= comment.id %>">
    <%= comment.text  %>
  </div>

  <div class="clr"></div>
</div>