<% if defined? tags  %>
<div class="gadget">
  <h2 class="star"><span>Хмаринка тегів:</span></h2>
  <div class="clr"></div>
  <% tags.each do |tag|%>
    <%= link_to tag['title'], news_index_path(:tag => tag['id']), :style=>"font-size: #{tag['size']}px;"%>
  <% end %>
</div>
<% end %>
<% if params[:controller] =~ /admin\/[A-Za-z]*/ %>
    <div class="gadget">
      <h2 class="star"><span>Адмінка:</span></h2>
      <div class="clr"></div>
      <ul class="sb_menu">
        <li>
          <%= link_to "Ролі", admin_roles_path %>
        </li>
        <li>
          <%= link_to "Категорії/теги", admin_tags_path %>
        </li>
        <li>
          <%= link_to "Користувачі", admin_users_path %>
        </li>
      </ul>
    </div>
<% end %>
<% if(params[:controller] == "pages" || params[:controller] == "news")%>
    <div class="gadget">
      <h2 class="star"><span>Погода:</span></h2>
      <div class="clr"></div>
      <%= render :partial => 'layouts/weather' %>
    </div>
    <div class="gadget">
      <h2 class="star"><span>Курс валют:</span></h2>
      <div class="clr"></div>
      <%= render :partial => 'layouts/exchange_rate' %>
    </div>
<% end %>