<% # coding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :application, controller_path %>
  <%=  favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div class="main">

  <div class="hbg">

    <div class="animate"></div>
    <div class="logo">
      <a href="/">Perechin.net</a><br/>
      <small>Портал твого міста.</small>
    </div>

    <div class="menu_nav">
      <ul>
        <% if current_user && current_user.role.name == "admin" %>
            <li><%= if @admin_message && @admin_message != "0" then raw("<span class='message_counter'>" + @admin_message + "</span>") end%>
                <%= link_to "Сторінка адміністратора", admin_index_path %></li>
        <% end %>
        <% if signed_in? %>
            <li><%= link_to current_user.name, current_user %></li>
            <li><%= link_to "Вийти", signout_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to "Увійти", signin_path %></li>
            <li><%= link_to "Зареєструватися", sign_up_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
<% flash.each do |key, value| %>
    <div class="flash_message">
      <%= content_tag(:div, value, :class => "flash_message #{key}") %>
    </div>
<% end %>
<div class="content">
  <div class="content_resize">
    <ul class="menu">
      <li <%= (current_page?(root_path))?"class='active'":""%>>
        <%= link_to raw("&nbsp;Додому"), root_path %>
      </li>
      <li <%= (current_page?(news_index_path))?"class='active'":""%>>
        <%= link_to "Новини", news_index_path %>
      </li>
      <li <%= (current_page?(articles_path))?"class='active'":""%>>
        <%= link_to "Статті", articles_path %>
      </li>
      <li <%= (current_page?(arts_path))?"class='active'":""%>>
        <%= link_to "Мистецтво", arts_path %>
      </li>
      <% if current_user && current_user.role.name == "admin" %>
      <li <%= (current_page?(maps_path))?"class='active'":""%>>
        <%= link_to "Мапа", maps_path %>
      </li>
      <% end %>
      <li <%= (current_page?(anecdotes_path))?"class='active'":""%>>
        <%= link_to "Закарпатські фіглі", anecdotes_path %>
      </li>
    </ul>
    <div class="mainbar">
      <%= yield %>
    </div>
    <div class="sidebar">

      <%= yield :sidebar %>
      <%=  render :partial => 'layouts/sidebar', :locals => {:tags => @tags} %>

    </div>
    <div class="clr"></div>
  </div>
</div>



<div class="footer">

    <div class="copyright">
    <p>Copyright &copy; 2012-2013 <a href="#">Perechin.net</a> - All Rights Reserved</p><br/>
    <p><a href="http://perechin.net/">Perechin.net Team</a></p>
    </div>

    <div class="aboutus">

      <%= link_to raw("<div class='about'>Про нас</div>"), about_path%>
      <%= link_to raw("<div class='contact'>Зв'язатися з нами</div>"), contact_path%>
      <%= link_to raw("<div class='help'>Допомога</div>"), help_path%>
    </div>


<div class="clr"></div>
</div>

</body>
</html>