<% # coding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :application, controller_name %>
  <%=  favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="/">Perechin.net<small>Портал твого міста.</small></a></h1>
      </div>
      <div class="menu_nav">
        <ul>
          <li><%= link_to "Home", root_path,  :class=>"active" %></li>
          <% if signed_in? %>
              <li><%= link_to "Add News", new_news_path %></li>  .
              <li><%= link_to "Admin", admin_roles_path %></li>
          <% end %>
          <% if signed_in? %>
              <li><%= link_to current_user.name, current_user %></li>
              <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
              <li><%= link_to "Sign up", sign_up_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="hbg">
    <div class="qwerty">З Новим Роком та Різдвом Христовим!</div>
  </div>
  <% flash.each do |key, value| %>
    <div class="flash_message">
        <h3><%= content_tag(:div, value, :class => "flash #{key}") %></h3>
    </div>
  <% end %>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <%= yield %>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Погода:</span></h2>
          <div class="clr"></div>
          <%= render :partial => 'layouts/weather' %>
        </div>
        <div class="gadget">
          <h2 class="star"><span>Курс валют:</span></h2>
          <div class="clr"></div>
          <%= render :partial => 'layouts/exchange_rate' %>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>About</span></h2>
        <%= image_tag 'white.jpg', :width => 56, :height =>56 %>
        <p><%= link_to "About Us", about_path %>orem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum. <a href="#">Learn more...</a></p>
      </div>
      <div class="col c2">
        <h2><span>Lorem Ipsum</span></h2>
        <ul class="sb_menu">
          <li><a href="#">consequat molestie</a></li>
          <li><a href="#">sem justo</a></li>
          <li><a href="#">semper</a></li>
          <li><a href="#">magna sed purus</a></li>
          <li><a href="#">tincidunt</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contact</span></h2>
        <p>Praesen
        <%= link_to "Contact Us", contact_path %>
        <%= link_to "Help", help_path %>t dapibus, neque id cursus faucibus, tortor neque egestas augue.</p>
        <p><a href="#">support@yoursite.com</a></p>
        <p>+1 (123) 444-5677<br />
          +1 (123) 444-5678</p>
        <p>Address: 123 TemplateAccess Rd1</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; 2012-2013 <a href="#">Perechin.net</a> - All Rights Reserved</p>
      <p class="rf"><a href="http://www.free-css.com/">Perechin.net Team</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>