<% # coding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :application, controller_name %>
  <%=  favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="/">Perechin.net<small>Портал твого міста.</small></a></h1>
      </div>
      <div class="menu_nav">
        <ul>
          <% if signed_in? %>
              <li><%= link_to "Додати новину", new_news_path %></li>
              <li><%= link_to "Додати статті", new_article_path %></li>  .
              <li><%= link_to "Адмінка", admin_roles_path %></li>
          <% end %>
          <% if signed_in? %>
              <li><%= link_to current_user.name, current_user %></li>
              <li><%= link_to "Вийти", signout_path, :method => :delete %></li>
          <% else %>
              <li><%= link_to "Увійти", signin_path %></li>
              <li><%= link_to "Зареєструватися", sign_up_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="hbg">
    <div></div>
  </div>
</div>
<% flash.each do |key, value| %>
    <div class="flash_message">
      <h3><%= content_tag(:div, value, :class => "flash_message #{key}") %></h3>
    </div>
<% end %>
<div class="content">
  <div class="content_resize">
    <ul class="menu">
      <li>
        <%= link_to "Додому", root_path %>
      </li>
      <li>
        <%= link_to "Новини", news_index_path %>
      </li>
      <li>
        <%= link_to "Статті", articles_path %>
      </li>
    </ul>
    <div class="mainbar">
      <%= yield %>
    </div>
    <div class="sidebar">
      <%=  render :partial => 'layouts/sidebar', :locals => {:tags => @tags} %>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="fbg">
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="lf">Copyright &copy; 2012-2013 <a href="#">Perechin.net</a> - All Rights Reserved</p>
    <p class="rf"><a href="http://perechin.net/">Perechin.net Team</a></p>
    <div class="clr"></div>
  </div>
</div>
</div>
</body>
</html>